* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eee;
}
.card {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 5px gray, 0 0 15px #aaa;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-image::before,
.card-image::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    transition: all 0.5s ease;
}
.card-image::before {
    left: 0;
    background-image: linear-gradient(to right, lightcyan, lightblue);
}
.card-image::after {
    right: 0;
    background-image: linear-gradient(to left, lightcyan, lightblue);
    border-left: 1px solid;
}
.card:hover .card-image::before,
.card:hover .card-image::after {
    width: 0;
}
.card-footer {
    position: absolute;
    bottom: 0;
    height: 15%;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    background-color: cyan;
    transition: height 1s ease;
    border-top: 1px solid;
}
